<html>
<head>
  <%include elements/head.ejs%>
</head>
<body>
<br>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-2">
                Entering the chat as
            </div>
            <div class="col-xs-4">
                <input type="text" class="form-control" placeholder="Enter New Name here" value="<%=randomname%>" id="username">
            </div>
            <div class="col-xs-6"></div>
        </div>


    </div>
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-xs-12">
          <!--<textarea class="form-control" rows="20" id="content"></textarea>-->
            <div class=" row" style="background-color: #eee;min-height: 250px;padding: 5px;" id="content">
                <div class="col-xs-12">Adoooooooooooow</div>
            </div>
        </div>
          <div class="col-xs-12">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter messege here" id="userinput">
              <span class="input-group-btn">
                <button class="btn btn-success" type="submit" id="send">Send!</button>
              </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->


      </div>
    </div>
  </div>
</div>



<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('localhost:3000');

  socket.on('connect',function(){
      // Send ehlo event right after connect:
      var msg = '{"name": "'+$("#username").val()+'"}';
      socket.emit("newuser",msg);
  });

  socket.on('broadcast',function(data){
      console.log(data);
//      document.getElementById("content").innerHTML += data;
  });

  socket.on('broadcast_connect',function(data){
      var obj = JSON.parse(data);
      document.getElementById("content").innerHTML += '<div class="col-xs-12" style="color:#a8a8a8;">'+ obj.name+' connected to the chat room</div>';
  });


  $("#username").blur(function(){
      // action goes here!!
      var msg = '{"newname": "'+$("#username").val()+'"}';
      socket.emit("rename",msg);
  });

    $("#send").click(function () {
        var msg = '{"message": "'+$("#userinput").val()+'"}';
        socket.emit("message",msg);
    });
</script>

<div style="display: none">
    <!--SampleUIS-->
</div>
</body>
</html>